body {
  background-color: #999;
  font-family: Arial, sans-serif; 
  text-align: center;
}

a {
  color: #0091d8;
  text-decoration: none; 
}
a:visited {
  color: #039BE5; 
}
a:hover {
  text-decoration: underline; 
}

.App-header {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #222;
  color: white;
}

.App-title {
  font-size: 1.5rem;
  text-transform: uppercase;
}
